<app-header></app-header>

<!-- Short About Us Content -->
<section>
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-12 col-md-12 col-sm-12 text-center">
        <img class="img-fluid" src="../../../assets/img/intro-image.jpg" alt="Intro welcome image">
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-lg-12 col-md-12 col-sm-12 text-center">
          <h1 class="font-weight-bold">About</h1>
          <p class="lead">Nasa API hub</p>
          <p class="lead">
              Nasa API Hub is non profit application created for the sole purpose of exploring Nasa's open API systems & different development enviroments. It is invisioned for this application to display data served through couple of Nasa's API systems & present the data about <i>Astronomy picture of the day, Near Earth objects</i> & many more...
          </p>
      </div>
    </div>
  </div>
</section>

<app-astronomy-picture-feature></app-astronomy-picture-feature>

<!-- Upcoming Content -->
<section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h3 class="font-weight-bold">Upcoming Features</h3>
            <p class="mid-size-text">In the upcoming version of this application, the version 2.0, an additional feature will be added. <br>
            A feature which will display <i>Mars Rover Photos</i>, where you can see a new photo, taken by the Mars rovers, each day!</p>
        </div>
      </div>
    </div>
</section>

<app-mars-rover></app-mars-rover>

<app-footer></app-footer>