<app-header></app-header>

<!-- Carousel area -->
<carousel>
  <slide>
    <img src="../../../assets/img/slide-1.jpg" alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Welcome to Nasa API Hub</h3>
      <p>Take a look around</p>
    </div>
  </slide>
</carousel>

<!-- Main Content -->
<section class="py-5">
  <div class="container">
    <h1 class="font-weight-light">About us</h1>
    <p class="lead">Nasa API hub</p>
  </div>
</section>

<app-footer></app-footer>